.container{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.inputAndSuggestions{
    display:flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.inputClass{
    height: 50px;
    width: 700px;
    border:5px solid darkslateblue;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
}