.container{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputAndSuggestions{
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.inputClass{
    height: 45px;
    border:5px solid darkslateblue;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    transition:0.5s ease-in
}
.inputClass:hover{
    transform: scale(1.1);
}


.listContainer{
    list-style: none;
    font-size: 35px;
    
    text-align: center;
}

.arrowContainer{
    top:5px;
    left: 40px;
    position: relative;
}

.arrowIcon{
    transition: 1s ease-out;
}

.arrowIcon:hover{
    transform: scale(1.4);
}

.arrowIconAnimated{
    transition: 1s ease-out;
    animation-name: arrowAnimate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.arrowIconAnimated:hover{
    transform: scale(1.4);
}

@keyframes arrowAnimate{
    to{
        transform:translateX(1200px);
    }
}