.WeatherDetailsContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.ulStyle{
    margin: 0px;
    padding-top: 40px;
    list-style: none;
    font-size: 30px;
    color: whitesmoke;
    line-height: 1.9;
}