.WeatherImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageStyle{
    width:400px;
    /* height:500px; */
}

.WeatherDescription{
    margin:0;
    padding:0;
    font-size: 30px;
}