.WeatherImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageStyle{
    width:250px;
    /* height:500px; */
    border:3px solid rgb(26, 31, 46);
    border-radius: 10px;
}

.WeatherDescription{
    font-size: 30px;
}