.container{
    display:flex;
    justify-content: space-between;
    color: aliceblue;
}

.brandName{
    align-content: center;
}

.links{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
}
