.container{
    display:flex;
    justify-content: space-between;
    color: aliceblue;
}

.brandName{
    align-content: center;
    padding-left: 30px;
}

.links{
    padding-right: 35px;
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
    width: 50%;
    list-style: none;
    font-weight: normal;
}
